/April.WebApi/logs
/April.WebApi/obj
/April.WebApi/bin
/April.Util/obj
/April.Util/bin
/April.Entity/obj
/April.Entity/bin
/April.Service/obj
/April.Service/bin
/.vs
/April.WebApi/Controllers/FileController.cs
/April.WebApi/uploads
/April.WebApi/April.xml
